div.navbar.navbar-default.navbar-static-top(ng-controller='NavbarCtrl')
  div.container
    div.navbar-header
      button.navbar-toggle(type='button', ng-click='isCollapsed = !isCollapsed')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a#logo(href="#")
      a.navbar-brand(href='/') Syncer (alpha)