div(ng-include='"components/navbar/navbar.html"')

.container
  form
    .form-group
      label Archivo XLS original
      input(type="file", ng-file-select="", on-read="parseXls")

    div(ng-show="readyToDownload")
      .form-group
        label Vista previa
        textarea.form-control.output(ng-model="output")

      .form-group
        label Filas excluidas
        textarea.form-control.excluded(ng-model="excluded")

      a.btn.btn-primary(role="button", download="resultado.txt", ng-href="{{ url }}") Descargar TXT (solo filas validas)
