div(ng-include='"components/navbar/navbar.html"')

.container
  form
    .form-group
      label Archivo XLS original
      input(type="file", ng-file-select="", on-read="parseXls")

    .form-group(ng-show="readyToDownload")
      label Vista previa
      textarea.form-control.output(ng-model="output")

    a.btn.btn-primary(role="button", download="content.txt", ng-href="{{ url }}", ng-show="readyToDownload") Descargar TXT
