div(ng-include='"components/navbar/navbar.html"')

.container
  form
    .form-group
      label Archivo XLS original
      input(type="file", ng-file-select="", on-read="parseXls")

    div(ng-show="readyToDownload")
      h3 Articulos

      button.btn.btn-primary(ng-click="sincronizar()") Sincronizar

      table(class="table table-striped")
        thead
          tr
            th SKU
            th Nombre
            th Stock
            th Id Parsimotion
            th Stock Parsimotion
        tbody
          tr(ng-repeat="item in productos", ng-class="{success: item.id}")
            td {{item.sku}}
            td {{item.nombre}}
            td {{item.stock}}
            td {{item.id}}
            td {{item.stockActual}}
